/javaProject/build/
/javaProject/WebContent/META-INF/
/javaProject/WebContent/WEB-INF/
/javaProject/.settings/
/javaProject/.classpath
/javaProject/.project
/javaProject/src/Config.java
/javaProject/.gitignore
/javaProject/.metadata
logfile